langgraph
langchain-openai
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
python-dotenv
typing-extensions
nest-asyncio
chromadb
llama-index-core
llama-index-llms-openai
platformdirs
llama-index-llms-langchain
llama-index-embeddings-langchain
pypdf
llama-index-question-gen-openai
pymupdf